@{
    ViewBag.Title = "Home Page";
}

<h1>Welcome to GC Coffee Shop!</h1>

<p>
	Here at GC Coffee Shop, we speciallize in bringing the love and joy of Grand Circus to your everyday coffee selections! We ask that you continue to have patience with us, as the website is currently still in its developmental stages. Nevertheless, once this processs is complete, we will be able to provide you with many new features.
</p><br />

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
		<li data-target="#carousel-example-generic" data-slide-to="1"></li>
		<li data-target="#carousel-example-generic" data-slide-to="2"></li>
	</ol>

	<!-- Wrapper for slides -->
	<div class="carousel-inner" role="listbox">
		<div class="item active">
			<img src="https://images.all-free-download.com/images/graphiclarge/coffee_03_hd_picture_167393.jpg" style="margin:auto; width: 500px; height: 500px;">
			<div class="carousel-caption">
				<h3>The History of Coffee</h3>
				<h2>In a world ran off caffine, come take an indepth dive into the history of Coffee</h2>
			</div>
		</div>
		<div class="item">
			<img src="https://www.grandcircus.co/wp-content/uploads/2017/11/IMG_2800e.png" alt="jacob-snover.jpeg" style="margin:auto; width: 500px; height: 500px;">
			<div class="carousel-caption">
				<h3>Jacob Snover : The Espresso King</h3>
				<h2>Jacob Snover speaks briefly about his espresso consumption and what it takes to be a developer...addicted to espresso. </h2>
			</div>
		</div>
		<div class="item">
			<img src="http://hd.wallpaperswide.com/thumbs/coffee_8-t2.jpg" alt="..." style="margin:auto; width: 500px; height: 500px;">
			<div class="carousel-caption">
				<h3>Roasted Vs. Brewed</h3>
				<h2>Who will when the battle?</h2>
			</div>
		</div>
	</div>

	<!-- Controls -->
	<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</div>
<br />

<span>Interested in joing the Coffee Shop Gang? <a href="/Home/Registration">Register Here!</a></span>